* {
    padding: 0;
    margin: 0;
    background-color: #252525;
    color: lightgray;
    text-align: center;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
}

a {
    color: #FFAD00
}

header *,
.post-card-title * {
    text-decoration: none;
    color: lightgray;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 300;
}

blockquote * {
    background-color: #555555;
    padding-left: 10px;
    border-left: lightgray solid 5px;
}

code {
    background-color: #222222;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 5px;
}

ul {
    margin: 10px;
    margin-left: 20px;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.nav-links {
    background-color: #535353;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 1.5rem;
}

.nav-links a {
    background-color: inherit;
    margin-left: 20px;
    margin-right: 20px;
}

.publish-date,
.updated-date {
    font-size: 1rem;
    color: gray;
    padding: 0px;
}

.main-wrapper {
    width: 60%;
    max-width: 700px;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border: 1px solid white;
}

@media screen and (max-width: 850px) {
    .main-wrapper {
        width: 85%;
        padding: 10px;
    }
}

.content-wrapper * {
    text-align: left;
}

.post-title {
    text-align: center;
}

.post-card-title {
    margin: 0px;
}

.post-card-title * {
    text-decoration: none;
}

.blog-post-card {
    border: 1px solid lightgray;
    padding: 10px;
    margin: 15px;
}
