---
import DefaultLayout from "../layouts/Default.astro";

const pageTitle = "About";
---

<DefaultLayout pageTitle={pageTitle}>
    <h2>自己紹介</h2>
    <p>ぐらりぃるだよ。高校生として生きているよ。</p>
    <h2>Links</h2>
    <p><a href="https://x.com/guraril_">Twitter</a>: ぐらりぃる(@guraril_)</p>
    <p>
        <a href="https://github.com/karikari-sembey">GitHub</a>:
        かりかりせんべい(@karikari-sembey)
    </p>
    <h2>このサイトについて</h2>
    <p>
        このサイトに含まれるソースコードは特に指定がない限り全てMIT
        License、その他のコンテンツは全てCC BY-SAです。
    </p>
</DefaultLayout>
