---
const siteTitle = import.meta.env.SITE_TITLE;
---

<header>
    <h1 class="title"><a href="/">{siteTitle}</a></h1>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </div>
    <style>
        .title {
            text-align: center;
        }
        header a {
            text-decoration: none;
            color: white;
        }
        .nav-links {
            text-align: center;
        }
        .nav-links a {
            font-size: 2rem;
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>
</header>
