---
const siteTitle = import.meta.env.SITE_TITLE;
---

<header>
    <h1 class="title"><a href="/">{siteTitle}</a></h1>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </div>
</header>
