---
import BlogLayout from "./BlogLayout.astro";

const { frontmatter } = Astro.props;
---

<BlogLayout pageTitle={frontmatter.title}>
    <p class="publish-date">{frontmatter.pubDate.slice(0, 10)}</p>
    <h2 class="post-title">{frontmatter.title}</h2>
    <slot />
</BlogLayout>
